<%= form_with(model: archive, local: true) do |form| %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Tipo %>
    <%= form.text_field :typ %>
  </div>
  
  <div class="field">
    <%= form.label :Fecha_creaci칩n %>
    <%= form.date_select :creationdate %>
  </div>

  <div class="field">
    <%= form.label :Ubicaci칩n %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :Tama침o %>
    <%= form.text_field :tama침o %>
  </div>

  <div class="field">
    <%= form.label :string? %>
    <%= form.text_field :string %>
  </div>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
