<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @archive.name %>
</p>

<!--
<p>
  <strong>Type:</strong>
  <%= @archive.typ %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @archive.creationdate %>
</p>

<p>
  <strong>Location:</strong>
  <%= @archive.location %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @archive.tamaño %>
</p>
-->
<p>
  <strong>Info!:</strong>
  <%= @archive.string %>
</p>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
