<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibido que esta carpeta se guarde:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :parent_id %>

  <div class="form-group">
    <%#= form.label :'Nombre:' %>
    <%= form.text_field :name, placeholder:"Nombre" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear", class:"btn btn-primary mb-2" %>
  </div>
  <div>
    <%= link_to 'Mostrar', @category %> |
    <% if @category.parent.blank? %>
      <%= link_to 'Regresar', categories_path %>
    <% else %>
      <%= link_to 'Regresar', category_path(@category.parent) %>
    <% end %>
  </div>
<% end %>

