<p id="notice"><%#= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Estas en: <strong><%= @category.name %></strong></li>
  </ol>
</nav>

<ul>
 	<li> <%= nested_categories @category.children.arrange(:order => :created_at) %></li>
 </ul>

<br><br>

<div class="actions">
	<%= link_to icon('fas', 'plus', class: "fa-2x"), new_category_path(:parent_id => @category)%>
</div>

<div class="dropdown-divider"></div>
<div class="dropdown-divider"></div>

<div>
	<h4><strong>Archivos</strong></h4>
	<%#= render "archive" %>
	<br>
	<% if !@category.archives.blank? %>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Ubicación</th>
					<th>Tamaño</th>
					<th>fecha creación</th>
				</tr>	
			</thead>

			<tbody>
				<% @category.archives.each do |archive| %>
				<tr>
					<td>
						<%= icon('fas', 'file', class: "fa-1x") %>				
						<%= archive.name %>
					</td>
					<td><%= archive.typ %> </td>
					<td><%= archive.category.path_ids %> </td>
					<td><%= archive.tamaño %> </td>
					<td><%= archive.created_at.strftime("%B %d, %Y") %> </td>
					<td><%= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_archive_path(@category, archive) %></td>
					<td><%= link_to icon('fas', 'trash-alt', class: "fa-2x"), [@category, archive], :method  => :delete, data: { confirm: '¿Estas seguro?' } %></td>
				</tr>
				<% end %>
				<%= link_to  "Crear archivo", new_category_archive_path(@category) %>
			</tbody>
		</table>
	<% else %>
		<p>No hay archivos</p>
	<% end %>
</div>

<%#= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_path(@category) %>       
<%= link_to icon('fas', 'undo', class: "fa-2x"), categories_path %>

<%#= link_to   icon('fas', 'plus', class: "fa-2x"), new_category_path %>