<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @category.string %>
</p>
<div class="actions">
	<%= link_to "Crear nueva carpeta", new_category_path(:parent_id => @category) %>
</div>

<p>
	<%= @category.subtree.arrange(:order => :created_at) %>
</p>


<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Regresar', categories_path %>
