<p id="notice"><%= notice %></p>

<div>
	<h3>Archivos</h3>
		<%= render "category" %>
		
		<ul>
			<% @category.archives.each do |archive| %>
			<li>
				<%= archive.name %>	- <%= archive.typ %> - <%= archive.category.id %>
			</li>
			<%end%>
		</ul>
</div>


	

<!-- <%= link_to 'Edit', edit_category_path(@category) %> |-->
<%= link_to 'Back', categories_path %>




