<p id="notice"><%#= notice %></p>

<% if !@category.children.blank? %>
	<p><%= nested_categories @category.children.arrange(:order => :created_at) %></p>
<% else %>
	<div class="alert alert-danger col-4" role="alert">
		No hay carpetas
	</div>
<% end %>

<br>

<div class="actions col-4 offset-md-6">
	<%= link_to icon('fas', 'plus', class: "fa-2x"), new_category_path(:parent_id => @category)%>
</div>

<div class="dropdown-divider"></div>
<div class="dropdown-divider"></div>

<div>
	<h4><strong>Archivos</strong></h4>
	<br>
	<% if !@category.archives.blank? %>
	<%#= render "archive" %>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Ubicación</th>
					<th>Tamaño</th>
					<th>fecha creación</th>
				</tr>	
			</thead>

			<tbody>
				<% @category.archives.each do |archive| %>
				<tr>
					<td>
						<%= render 'archive', archive: archive %>
						<%= archive.name %>
					</td>
					<td><%= archive.typ %> </td>
					<td>
						Root
						<strong>/</strong>
						<% @category.path.each do |ruta| %>
							<%=ruta.name%><strong> /</strong>
						<% end %>
					</td>
					<td><%= archive.tamaño %> </td>
					<td><%= archive.created_at.strftime("%B %d, %Y") %> </td>
					<td><%= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_archive_path(@category, archive) %></td>
					<td><%= link_to icon('fas', 'trash-alt', class: "fa-2x"), [@category, archive], :method  => :delete, data: { confirm: '¿Estas seguro?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="alert alert-danger col-4" role="alert">
		  No hay archivos
		</div>
	<% end %>
	<%= link_to  "Crear archivo", new_category_archive_path(@category) %>
</div>

<%#= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_path(@category) %>       
<%#= link_to icon('fas', 'undo', class: "fa-2x"), categories_path %>

<%#= link_to   icon('fas', 'plus', class: "fa-2x"), new_category_path %>