<p id="notice"><%= notice %></p>
<h3>Estas en: <strong><%= @category.name %></strong></h3> <br>

<p><%= nested_categories @category.children.arrange(:order => :created_at) %></p>
<br><br>

<div class="actions">
	<%= link_to icon('fas', 'plus', class: "fa-2x"), new_category_path(:parent_id => @category)%>
</div>
<p>---------------------------------------------------------------------------</p>

<div>
	<h4><strong>Archivos</strong></h4>
	<%= render "archive" %>
	<br><br>
	<% if !@category.archives.blank? %>
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Ubicaci칩n</th>
					<th>Tama침o</th>
					<th>fecha creaci칩n</th>
				</tr>	
			</thead>

			<tbody>
				<% @category.archives.each do |archive| %>
				<tr>
					<td>
						<%= icon('fas', 'file', class: "fa-1x") %>				
						<%= archive.name %>
					</td>
					<td><%= archive.typ %> </td>
					<td><%= archive.category.path_ids %> </td>
					<td><%= archive.tama침o %> </td>
					<td><%= archive.created_at.strftime("%B %d, %Y") %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>

<%#= link_to icon('fas', 'edit', class: "fa-2x"), edit_category_path(@category) %>       
<%= link_to icon('fas', 'undo', class: "fa-2x"), categories_path %>
